<h1>Admin::Dashboard#show</h1>
<div>
  <h4>
    Products
  </h4>
  <p>
    Number of unique products for sale: <%= @product %>
  </p>
  <h4>
    Categories
  </h4>
  <p>
    Number of unique categories: <%= @category %> 
  </p>
</div>

<div>
  Manage listings <%= link_to "here", admin_products_url %>
</div>
